.sidenav-container {
  min-height: 100vh;
}

.sidenav {
  width: 200px;
}

.page-wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-sidenav-content {

}
.hidden {
  display: none;
}

.spacer{
  flex:  1 1 auto;
}


mat-toolbar a {
  display: inline-block;
  text-decoration: none;
  margin:  0 10px;
  color: white;

}
mat-form-field {
  width: 80px;;
}
