/* You can add global styles to this file, and also import other style files */
/* Ajout du thème Angular material par défaut */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button-toggle-label-content {
    line-height: 60px !important;
  }

  mat-button-toggle-checked{
    color: #3f51b5;
    background-color:#3f51b5 !important;
  }
